html{
    background-color: #dbdbdb;
}
body{
    margin: 0;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e8e8;
    padding: 0px 40px;
}
a{
    color: #fff;
    text-decoration: none;
}
.nav-left ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav-left ul li{
    margin-right: 30px;
    font-size: 20px;
}

.nav-left img{
    margin-right: 50px;
}

.nav-left a{
    text-decoration: none;
    color: #000;
}

.nav-left a:hover{
    color: orangered;
}

.nav-right a{
    background-color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.myproject{
    margin: auto;
}

.container{
    width: auto;
    height: 900px;
    border: 10px solid green;
    align-items: center;
    margin-left: 65px;
    margin-right: 30px;
}
.judul{
    background-color: red;
}

.pic img{
    width: 680px;
    height: 420px;
}

.paragraf{
    background-color: red;
    text-align: justify;
}

h1{ 
    text-align:center;
}